* {
    box-sizing: border-box;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F3EEE5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    background-color: #34483a;
    color: #F3EEE5;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}

.links {
    width: 600px;
    background-color: #fffdf8;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.links .recipes {
    font-size: x-large;
    color: #34483a;
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    border-bottom: 2px solid #34483a;
    padding: 8px 0;
}

li:first-child {
    border-top: 2px solid #34483a;
}

.item {
    padding: 40px 20px;
}

.recipe-description {
    font-size: 16px;
    color: #666;
    margin: 8px 0;
}

.item a {
    font-size: 16px;
    color: #34483a;
    text-decoration: none;
    line-height: 2;
}

.item a:hover {
    color: #B56B45;
}

.home-link {
    margin: 10px 0px 20px;
    background-color: #fffdf8;
    padding: 12px 15px;
    text-decoration: none;
    width: fit-content;
    border-radius: 10px;
}

.recipe-title {
    background-color: #34483a;
    color: #F3EEE5;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.recipe-content {
    background-color: #fffdf8;
    width: 900px;
    margin: 30px 0 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    padding: 30px;
    color: #2c562c;
}

.recipe-content img {
    display: block;
    width: 600px;
    height: auto;
    object-fit: cover;
    margin: 0px auto 30px;
    border-radius: 8px;
    border: 5px solid #9BAF9B;
    padding: 2px;
}

.recipe-content h2 {
    color: #304638;
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 18px;
    border-bottom: 2px solid #D6D0C3;
    padding-bottom: 8px;
}

.recipe-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.recipe-content ul {
    list-style-type: none;
    padding: 0;
}

.recipe-content ul li {
    padding: 20px 0;
    border-bottom: 1px solid #9BAF9B;
}

.recipe-content ul li:first-child {
    border-top: none;
}

.recipe-content ol {
    padding-left: 5px;
}

.recipe-content ol li {
    padding: 20px 0;
    line-height: 1.6;
    border-bottom: 1px solid #9BAF9B;
}

.recipe-content ol li:first-child {
    border-top: none;
}

.recipe-content ol li::marker {
    color: #304638;
    font-weight: bold;
    font-size: 19px;
}